@media(width:400px)/* when the width became 400px then the below features will be applied*/

{
    .box{
        background-color: brown;
        
    }
    h1
    {
        color: blanchedalmond;
        background-color: blue;
    }
}
.box
{
    height: 50px;
    width: 300px;
    background-color: aqua;
    animation: ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes ani{
    from{font-size: 20px;
    width:300px}
    to{font-size: 50px;
    width:600px}
}