.container
{
    width: 800px;
    height: 600px;
   
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px 10px;

  
}
#a
{
    background-color: pink;
    text-align: center;
}
.a
{
    grid-column: 1/13;
}
.b
{
  grid-row: 2/12;
    grid-column: 1/span 3;
    
}
.c
{
     grid-row: 2/3;
    grid-column: 4/10;
}
.d
{
 grid-row: 3/ span 9;   
 grid-column: 4/10;
}
.e
{
grid-row: 2/span 10;
grid-column: 10/span 3;

}
.f
{
    grid-row-start: 12;
    grid-column: 1/span 12;
}
/*.container
{
    width: 800px;
    height: 600px;
   
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px 10px;

  
}
#a
{
    background-color: pink;
    text-align: center;
}
@media (max-width:720px)
{
    .a
{
    grid-column: 1/13;
}
.b
{
    grid-column: 1/13;
    grid-row: 2;
   
    
}
.c
{
     grid-row: 3/span 9;
    grid-column: 1/span 3;
}
.d
{
    grid-row: 3/span 9; 
   grid-column: 4/span 9;
}
.e
{
grid-row: 12;
grid-column: 1/span 3;

}
.f
{
    grid-row: 12;
    grid-column: 4/span 9;
    
}
    
}*/