body{
    text-align: center;
}
.container
{
    display: flex;
    width:300px;
    height: 300px;

   
    flex-wrap:wrap ;
    
align-items: center;
}
.blue{background-color: blue;}
.green {background-color: rgb(6 241 78);}
.red{background-color: rgb(236, 111, 8);}
.yellow{background-color: #fff700eb;}
.btn
{
    width: 119px;
    margin-left: 10px;
    height: 128px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 8px 2px 4px rgb(194, 145, 145);
   
}
.flash
{
   
    background-color: aliceblue;
  
}
