<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>here is the post</h2>
  <p>Post Id: <%=desirepost.id%></p>
  <div>username: <%=desirepost.username%>
   content: <%=desirepost.content%>
</div>
  
</body>
</html>